DN_USE_LLM=0
DN_LLM_BASE_URL=http://127.0.0.1:11434/v1
DN_LLM_MODEL=llama3
DN_LLM_API_KEY=local
DN_LOG=info
DN_MAX_FILES=5000
DN_MAX_FILE_BYTES=262144
DN_INCLUDE_HIDDEN=0
DN_WORKER_TIMEOUT_SECS=180
DN_MAX_TOTAL_BYTES=10485760
DN_MAX_FINDINGS=500
DN_PROTOCOL_VERSION=1
